<div class="section">
  <div class="columns">

    <div class="column is-one-fifth pr-6 mr-6">
      <div class="box">
        <%= render partial: "user/profile_sidebar", locals: { friends: @friends } %>
      </div>
    </div>
    
    <div class="column auto pl-6 pr-6 mr-6 ml-6">
			
      <div class="media box">
				<figure class="media-left">
					<p class="image is-64x64">
						<% if @user.avatar.attached? %>
		        	<%= image_tag @user.avatar, resize_to_fill: [150, 150], class:"is-rounded" %>
		        <% else %>
			        <%= image_tag "default_avatar.png" %>
		        <% end %>
					</p>
				</figure>
				<div class="content has-text-centered is-size-3">
					<p><strong><%= @user.name %> <%= @user.surname %></strong></p>
				</div>
      </div>

      <div class="box">
        <div class="columns">
          <div class="column is-one-third">
            <div class="content has-text is-size-6">
				      <p><strong> Email: </strong><%= @user.email %></p>
			      </div>
          </div>
          <div class="column is-one-third">
            <div class="content has-text is-size-6">
              <p><strong> Birthday: </strong><%= @user.dateOfBirth %></p>
            </div>
          </div>
        </div>
      </div>

      <% @user.posts.each do | post | %>
				<%= render partial: 'posts/post', locals: { post: post } %>
			<% end %>

    </div>
    
    <div class="column is-one-fifth pl-6 ml-6">
      <div class="box">
        <%= render partial: "user/friends_sidebar", locals: { friends: @friends } %>
      </div>
    </div>
    
  </div>
</div>