<div id="media">
  <% suggestions =  current_user.no_contacts.limit(3).order("RANDOM()") %>
  <% unless suggestions.empty? %>
    <div id="content">
      <div class="has-text is-size-6 mb-3">
        <strong>Friend Suggestions</strong>
      </div>
      <% suggestions.each do |friend| %>
        <div class="level my-3">
          <div class="level-left image is-rounded is-48x48">
            <% if friend.avatar.attached? %>
			        <%= image_tag user_avatar(friend), class:"is-rounded" %>
	          <% else %>
			        <%= image_tag "default_avatar.png" %>
		        <% end %>
            <%= link_to friend.name, user_path(friend), class:"ml-3" %>
          </div>
          <div class="level-right">
            <%= button_to friend_requests_path, method: :post, class: "button is-small is-info is-light px-2", params: { recipient_id: friend.id } do %>
              <i class="fas fa-user-plus"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <hr>
  <% end %>
  <div class="has-text is-size-6 mb-3">
    <strong>Friends</strong>
  </div>
  <% current_user.friends.each do |friend| %>
    <div class="media in-line level-left is-mobile image is-rounded is-48x48">
      <% if friend.avatar.attached? %>
			  <%= image_tag user_avatar(friend), class:"is-rounded" %>
	    <% else %>
			  <%= image_tag "default_avatar.png" %>
		  <% end %>
      <%= link_to friend.name, user_path(friend), class:"ml-3" %>
    </div>
  <% end %>
</div>