<div id="content">

  <figure class="image is-64x64">
		<% if current_user.avatar.attached? %>
			<%= image_tag user_avatar(current_user), resize_to_fill: [150, nil], class:"is-rounded" %>
		<% else %>
			<%= image_tag "default_avatar.png" %>
		<% end %>
	</figure>

  <hr>

  <%= link_to posts_path do %>
    <div class="has-text is-size-6 my-3">
      <i class="fa fa-bars pr-4"></i>
      <span>Timeline</span>
    </div>
  <% end %>

  <%= link_to current_user do %>
    <div class="has-text is-size-6 my-3">
      <i class="fa fa-user pr-4"></i>
      <span><%=current_user.name%></span>
    </div>
  <% end %>

  <%= link_to edit_user_registration_path do %> 
    <div class="has-text is-size-6 my-3">
      <i class="fa fa-user-edit pr-3"></i>
      <span>Edit Profile</span>
    </div>
  <% end %>

  <%= link_to friends_requests_path do %>
    <div class="has-text is-size-6 my-3">
      <% notifications = current_user.friend_invitations.count %>
      <i class="fa fa-user-plus pr-3"></i>
      <span>Friend Requests<%= " (#{notifications})" if notifications > 0 %></span>
    </div>
  <% end %>

  <%= link_to friends_path do %>
    <div class="has-text is-size-6 my-3">
      <i class="fa fa-user-group pr-3"></i>
      <span>Friends</span>
    </div>
  <% end %>

  <%= link_to friends_find_path do %>
    <div class="has-text is-size-6 my-3">
      <i class="fa-solid fa-users pr-3"></i>
      <span>Find Friends</span>
    </div>
  <% end %>

</div>