<div class="box">
	<article class="media">
		<div class="media-left">
			<figure class="image is-64x64">
				<%#= gravatar_image_tag(tweeet.user.email, size: 64, alt: tweeet.user.name) %>
			</figure>
		</div>
		<div class="media-content">
			<div class="content">
				<div class="field-group is-inline">
					<p><strong><%= link_to post.user.name, user_path(post.user) %></strong> - <%= link_to time_tag(post.created_at, "data-local": "time-ago"), post %> </p>
				</div>
				<p><%= post.body %></p>
				<div class="media in-line">
					<%= render partial: 'likes/button', locals: { post: post, likeable: post } %>
				<% if user_signed_in? && current_user.id == post.user_id %>
					<div class="level-right is-mobile">
						<%= link_to edit_post_path(post), class: "level-item" do %>
						  <span class="icon"><i class="fas fa-pencil" aria-hidden="true"></i></span>
						<% end %>
						<%= button_to "delete", post, method: :delete, class: "button is-small is-danger is-light" %>
					</div>
      			<% end %>
				</div>
			</div>
		</div>
	</article>
	<br>
  <div class="container">
    <% post.comments.each do |comment| %>
	  	<%= render partial: 'comments/comment', locals: {post: post, comment: comment} %>
    <% end %>
		<a href="#" class="comment-form-display button is-info is-light level-right is-mobile mb-5"> reply </a>
			<div class="comment-form">
				<%= render partial: 'comments/form', locals: { post: post } %>
			</div>
	 </div>
</div>

<script>
	document.querySelectorAll(".comment-form-display").forEach((el) => {
		el.addEventListener("click", (ev) => {
			ev.preventDefault();
			el.nextElementSibling.style = "display: block;"
		})
	})
</script>