  <div class="box">
  	<article class="media">
  		<div class="media-left">
  			<figure class="image is-64x64">
  				<%#= gravatar_image_tag(tweeet.user.email, size: 64, alt: tweeet.user.name) %>
  			</figure>
  		</div>
  		<div class="media-content">
  			<div class="content">
  				<strong><%= post.user.name %></strong><br />
  				<p><%= post.body %></p>
				<p> Posted <%= time_tag post.created_at, "data-local": "time-ago" %></p>
  			</div>
        <% if user_signed_in? && current_user.id == post.user_id %>
  			<nav class="level">
  				<div class="level-left is-mobile">
  					<%= link_to edit_post_path(post), class: "level-item" do %>
  					  <span class="icon"><i class="fas fa-pencil" aria-hidden="true"></i></span>
  					<% end %>
					</div>
  			</nav>
        <% end %>
  		</div>
  	</article>
    <div class="container">
      <% post.comments.each do |comment| %>
        <%= render partial: 'comments/comment', locals: {post: post, comment: comment} %>
      <% end %>
    </div>
 	<%= render partial: 'comments/form', locals: { post: post } %>
  </div>