<div class="section">
    <div class="columns">

      <div class="column is-one-fifth pr-6 mr-6">
        <div class="box">
          <%= render partial: "user/profile_sidebar", locals: { friends: @friends } %>
        </div>
      </div>

      <div class="column auto pl-6 pr-6 mr-6 ml-6">
        <div class="media box">
      		<figure class="media-left">
      			<p class="image is-64x64 is-rounded">
      				<% if current_user.avatar.attached? %>
		        	  <%= image_tag current_user.avatar, resize_to_fill: [150, nil], class:"is-rounded" %>
		          <% else %>
			          <%= image_tag "default_avatar.png" %>
		          <% end %>
      			</p>
      		</figure>
      		<div class="media-content">
      			<%= render partial: 'posts/form', locals: { post: @post } %>
      		</div>
      	</div>
      </div>

      <div class="column is-one-fifth pl-6 ml-6">
        <div class="box">
          <%= render partial: "user/friends_sidebar", locals: { friends: @friends } %>
        </div>
      </div>

    </div>
</div>
